@charset "utf-8";
/* CSS Document */


#id_#id# {
	width:270px;
	height:440px;
	border:solid;
	border-style:solid;
	border-color:#333;
	border-radius:30px;
	background-color:red;
	padding-left:15px;
}





.button_#id# {

  color: #000;
  background: #444;
  background: linear-gradient( #555, #2C2C2C);	 	
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 2px;
  padding:4px;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ddd;
  height:35px;
  width:40px;
  transition: background-color .2s ease-out;
  background-clip: padding-box; 
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
				0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
  text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2); 
}

.button_#id# :hover{
     color: #222;
     background: #555;
     background: linear-gradient( #777, #333);
}

.button_#id# :active{
     color: #000;
     background: #444;
     background: linear-gradient( #555, #2C2C2C);
     box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
				0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}


#id_#id# .red {
  background:#cc6666;
  height:35px;
  width:40px;
  margin: 2px;
  padding:4px;
  cursor: pointer;
  border: 1px solid #bbb;
  height:35px;
  width:40px;
  transition: background-color .2s ease-out;
  background-clip: padding-box; 
  border-radius: 5px;
}

#id_#id# .green {
background:#99cc33;
  height:35px;
  width:40px;
  margin: 2px;
  padding:4px;
  cursor: pointer;
  border: 1px solid #bbb;
  height:35px;
  width:40px;
  transition: background-color .2s ease-out;
  background-clip: padding-box; 
  border-radius: 5px;
}

#id_#id# .yellow {
  background:#ffcc33;
  height:35px;
  width:40px;
  margin: 2px;
  padding:4px;
  cursor: pointer;
  border: 1px solid #bbb;
  height:35px;
  width:40px;
  transition: background-color .2s ease-out;
  background-clip: padding-box; 
  border-radius: 5px;
  
}

#id_#id# .blue {
  background:#3399ff;
  height:35px;
  width:40px;
  display: inline-block;
  margin: 2px;
  padding:4px;
  cursor: pointer;
  border: 1px solid #bbb;
  height:35px;
  width:40px;
  transition: background-color .2s ease-out;
  background-clip: padding-box; 
  border-radius: 5px;  
}

#id_#id# button[name=programme],button[name=chevron-up],button[name=chevron-down],button[name=plus],button[name=volume],button[name=minus] {
	background:transparent;
	border: none !important;
	height:35px;
  	width:40px;
	margin: 2px;
 	padding:4px;
 	padding:4px;
	color: #000;
	font-weight:bold;
}

#id_#id# button[name=chevron-up]:active,button[name=chevron-down]:active, button[name=plus]:active,button[name=minus]:active {
     box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
				0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

.programme_#id# , .sound_#id#  {
  color: #000;
  background-color: #444;
  background-color: linear-gradient( #555, #2C2C2C);	 	
  border: 1px solid #bbb;
  border-radius: 5px;
  padding:0;
  top:2px;
  left:13px;
  width:40px;
  height:114px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
				0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
  text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2); 	
	
}

.sound_#id# {
	margin-left:31px;
}

.stop_#id# {
	margin-left:10px;
}

.programme_#id# {
	margin-left:3px;
}

.play_#id# {
	margin-left:9px;
}

